body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.content-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.styled-table thead tr 
{ background-color: #980081; color: #ffffff; text-align: center}

.styled-table th, .styled-table td { padding: 12px 15px; }
.styled-table tbody tr { border-bottom: 1px solid #dddddd; } 
.styled-table tbody tr:nth-of-type(even) { background-color: #f3f3f3; } 
.styled-table tbody tr:last-of-type { border-bottom: 2px solid #009879; }


.container {
  width: 80%; 
  margin: 0 auto; 
}

.row {
  margin-bottom: 20px; 
}

h2 {
  text-align: center; 
}

.form-label {
  font-weight: bold; 
}

input[type='text'], input[type='number'] {
  padding: 12px 15px; 
  border: 1px solid #dddddd; 
}

input[type='text']:focus, input[type='number']:focus {
  border: 2px solid #980081; 
  outline: none; 
}

.btn {
  padding: 12px 30px; 
  margin-top: 20px; 
  background-color: #980081; 
  color: white; 
  border: none; 
  cursor: pointer;
}

.btn:hover {
  background-color: #7f006e; 
}
